/* general */
:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
  --Font-size-p: 1em;
}

/* Order Card */
.order-card {
    max-width: 20.3125em; /* 325px */
    height: max-content;
    margin: 5em auto;
}

.order-card img {
    max-width: 20.3125em;
    border-radius: 1em 1em 0 0;
}

/* Footer signature */
.attribution { font-size: 0.6875em; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* mobile first workflow */
@media screen and ( max-width: 375px ){
    body {
        background: var(--Pale-blue) url(/assets/img/pattern-background-mobile.svg) no-repeat;
    }
}