/* general */
:root {
  --Pale-blue: hsl(225, 100%, 94%);
  --Bright-blue: hsl(245, 75%, 52%);
  --Very-pale-blue: hsl(225, 100%, 98%);
  --Desaturated-blue: hsl(224, 23%, 55%);
  --Dark-blue: hsl(223, 47%, 23%);
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

/* clearfix */
.group:before,
.group:after {
	content: " ";
	display: table;
}

.group:after {
	clear: both;
}

.group {
	*zoom: 1;
}

/* Order Card */
.order-card {
    font-family: 'Red Hat Display', sans-serif;
    max-width: 20.3125em; /* 325px */
    height: max-content;
    margin: 5em auto;
    background: #fff;
    border-radius: 1em;
}

.order-card img {
    max-width: 20.3125em;
    border-radius: 1em 1em 0 0;
}

.order-summary {
    max-width: 17em;
    margin: 0 auto;
    text-align: center;
}

.order-summary h1 {
    margin-top: 1em;
    font-size: 1.5em;
    font-weight: 900;
}

/* Order summary text */
.text {
    font-size: 1em;
    line-height: 1.5em;
    color: var(--Desaturated-blue);
}

/* Plan card */
.plan-card {
    background: rgb(235, 235, 235, 0.3);
    border-radius: 1em;
    padding: 0.5em;
}

.plan-card img {
    float: left;
}

.plan-text {
    float: left;
    margin: 0.3125em 0 0 0.625em;
}

.plan-text h4 {
    margin: 0 0 0.4em;
}

.price {
    color: var(--Desaturated-blue);
    margin: 0;    
}

.btn-change {
    color: var(--Bright-blue);
    float: left;
    margin: 0.9375em 0 0 2.5em;
}

/* Button proceed */
.btn-proceed {
    background: var(--Bright-blue);
    color: #fff;
    max-width: 17em;
    padding: 1em;
    border-radius: 1em;
}

.proceed {
    margin: 2.5em 0 2.5em;
}

/* Button cancel */
.btn-cancel {
    color: var(--Desaturated-blue);
    font-weight: 700;
}

.cancel {
    padding-bottom: 1.5625em;
}

.btn-proceed, .btn-cancel {
    text-decoration: none;
}

/* Footer signature */
.attribution { font-size: 0.6875em; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/* mobile first workflow */
@media screen and ( max-width: 375px ){
    body {
        background: var(--Pale-blue) url(/assets/img/pattern-background-mobile.svg) no-repeat;
    }
}